body{
  background-color: rgb(22, 22, 26);
  color: white;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 2em;
  background-color: rgb(15, 158, 158);
}
.navBtn{
  margin: 0 15px;
  background-color: transparent;
  color: white;
  font-size: .8em;

  border: none
}
.navBtn:hover{
  cursor: pointer;
}

.login-wrapper {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
}
.login-wrapper form{
  border:2px dotted rgb(15, 158, 158);
  padding: 2rem;
  font-size: 2em;
}
.login-wrapper form input{
  font-size: .8em;
  margin: .8rem;
  background-color: transparent;
  border: none;
  border-bottom: 5px solid rgb(39, 39, 49);
  color: white;
  transition: all 0.5s ease-out;
}
.login-wrapper form input:hover{
  /* color: rgb(39, 39, 49); */
  border-bottom: 5px solid white;
  cursor: pointer;
}
.login-wrapper form input:focus-within{
  color: rgb(39, 39, 49);
  border-bottom: 5px solid white;
  color: white;
}
.login-wrapper form input[type="submit"]{
  color: white;
  margin-left: 25rem;
}
.login-wrapper form input[type="submit"]:hover:enabled{
  color: white;
  cursor: pointer;
  border-color: white;
}
.login-wrapper form input[type="submit"]:disabled{
  color: gray;
  border: none;
  cursor: default;
  
  
}
.grid-wrapper{
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 5rem;

}
.name{
  font-size: 2em;
  font-weight: bold;
}
.grid-element button{
  background-color: transparent;
  border: 2px solid rgb(15, 158, 158);
  color: white;
  font-size: 1.2em;
  transition: all .3s ease-out;
  border-radius: 15px;
  padding: .3rem;
}
.grid-element button:hover{
  background-color: rgb(15, 158, 158);
  cursor: pointer;
}
.grid-element div{
  text-align: center;
}
.btn{
  background-color: transparent;
  color:white;
  border: 2px solid rgb(15, 158, 158);
  border-radius: 15px;
  font-size: 1.2em;
  transition: all .3s ease-out;
  padding: .3rem;
}
.btn:hover{
  background-color: rgb(15, 158, 158);
  cursor: pointer;
}
.signOut{
  text-align: right;
  margin: .5em 1.5em;
}
.blue-border{
  padding: 1rem;
  border: 3px dashed rgb(15, 158, 158); 
}
.add-item{
  width: fit-content;
  text-align: center;
  
}
.add-item div:first-child{
  font-size: 1.8em;
}
.add-item form input{
  text-align: center;
}
.add-item-wrapper{
  display: flex;
  justify-content: center;
  position: relative;
}
.submit-wrapper{
  text-align: right;
}
.options-wrapper{
  width: 100%;
  /* background-color:white; */
  display: flex;
  justify-content: right;
  align-items: center;
}
.edit{
  margin: 0 .2rem;
}
.edit button{
  width: 6ch;
}
.delete button{
  width: 4ch;
}
.error_msg{
  color: red;
  font-size: 1.2em;
}
@media screen and (max-width: 600px){
  .name{
    font-size: 1.2em;
  }
  .login-wrapper{
    margin-top: 20%;
    height: 40vh;
  }
  .login-wrapper form{
    border:2px dotted rgb(15, 158, 158);
    padding: 1.2rem;
    font-size: 1.2em;
  }
  .login-wrapper form input{
    font-size: 1em;
    margin: .8rem;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid rgb(39, 39, 49);
    color: white;
    transition: all 0.5s ease-out;
  }
  .login-wrapper form input:hover{
    color: rgb(39, 39, 49);
    border-bottom: 5px solid white;
  }
  .login-wrapper form input:focus-within{
    color: rgb(39, 39, 49);
    border-bottom: 5px solid white;
    color: white;
  }
  .login-wrapper form input[type="submit"]{
    color: white;
    cursor: pointer;
    margin-left: 9rem;
  }
  .login-wrapper form input[type="submit"]:hover{
    color: white;
    cursor: pointer;
  }
  .navbar{
    font-size: 1.2em;
    padding: 5px 5px;
    min-height: 60px;
  }
  .grid-wrapper{
    grid-template-columns: 1fr;
    margin: 1rem;
  }

}
