body{
  background-color: rgb(22, 22, 26);
  color: white;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 2em;
  background-color: rgb(15, 158, 158);
}
.navBtn{
  margin: 0 15px;
  background-color: transparent;
  color: white;
  font-size: .8em;

  border: none
}
.navBtn:hover{
  cursor: pointer;
}

.login-wrapper {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
}
.login-wrapper form{
  border:2px dotted rgb(15, 158, 158);
  padding: 2rem;
  font-size: 2em;
}
.login-wrapper form input{
  font-size: .8em;
  margin: .8rem;
  background-color: transparent;
  border: none;
  border-bottom: 5px solid rgb(39, 39, 49);
  color: white;
}
.login-wrapper form input:hover{
  color: rgb(39, 39, 49);
  border-bottom: 5px solid white;
}
.login-wrapper form input:focus-within{
  color: rgb(39, 39, 49);
  border-bottom: 5px solid white;
  color: white;
}
.login-wrapper form input[type="submit"]{
  color: white;
  cursor: pointer;
  margin-left: 25rem;
}
.login-wrapper form input[type="submit"]:hover{
  color: white;
  cursor: pointer;
}